DB_HOST=localhost
DB_PORT=5432
DB_NAME=atlascrm
DB_USERNAME=atlascrm
DB_PASSWORD=atlascrm
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=YXRsYXMtY3JtLWRldi1qd3Qtc2VjcmV0LWtleS0zMi1ieXRlcw==
EXPIRATION_ACCESS_TOKEN=15m
EXPIRATION_REFRESH_TOKEN=7d
SERVER_PORT=3000
